body
{
    background-color:rgb(50, 40, 40)
}
#editor-container
{
    display: flex;
    border-radius: 3px;
    background-color: burlywood;
    max-width: 600px;
    margin:auto;
    height: 500px;

    flex-direction: column;
    align-items: center;
}

#editor
{
    box-sizing: border-box;
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
    flex-basis: 500px;
    border-style: inset;
    border-color: black;
}

#preview-container
{
    display: flex;
    border-radius: 3px;
    background-color: orange;
    max-width: 70%;
    margin:auto;
    height: 1000px;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    overflow:auto;
}

#preview
{
    background-color: white;
    box-sizing: border-box;
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
    flex-basis: 100%;
    border-style: inset;
    border-color: black;
}
p{
    overflow-y: auto;
    overflow-wrap: break-word;
}

img
{
    max-width: 70%;
}